@model CircularHQ.Models.HQMessageModel
<div class="chat-box bg-white chat-main-block">
    @if (Model.lstNewFeedsDetails != null)
    {
        <div class="chat-message-box ">
            <div class="comm-info-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Who received this article?</label>
                            <input type="text" class="form-control " placeholder="" value="@Model.lstNewFeedsDetails.GroupName" readonly>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Article title</label>
                            <input type="text" class="form-control " placeholder="" value="@Model.lstNewFeedsDetails.Title" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Written by</label>
                            <input type="text" class="form-control " placeholder="" value="@Model.lstNewFeedsDetails.WroteArticle" readonly id="lblWroteArticle1">
                        </div>
                    </div>
                    @*<div class="col-md-6">
                <div class="form-group">
                <label>Newsfeed image (app homepage)?</label>
                <input type="text" class="form-control " placeholder="imagename.png">
                </div>
                </div>
                <div class="col-md-12">
                <div class="form-group">
                <label>Cover image(s) or video</label>
                <input type="text" class="form-control " placeholder="imagename.png">
                </div>
                </div>*@
                    @* <div class="col-md-6">
                <div class="form-group">
                <label>PDF Document</label>
                <input type="text" class="form-control " placeholder="document.pdf">
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                <label>Linked item?</label>
                <input type="text" class="form-control " placeholder="{account or event linke}">
                </div>
                </div>*@

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>PDF document</label>
                            @if (Model.lstNewFeedsDetails.DocumentPath != null)
                            {
                                <input type="text" class="form-control " placeholder="" value="@Model.lstNewFeedsDetails.DocumentPath.Substring(Model.lstNewFeedsDetails.DocumentPath.LastIndexOf('/')+1)" id="lblArticleDocfile12" readonly>
                            }
                            else
                            {
                                <input type="text" class="form-control " placeholder="" value="" id="lblArticleDocfile12">
                            }
                        </div>
                    </div>



                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Total opens</label>
                            <input type="text" class="form-control " placeholder="{count_opens}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Total likes</label>
                            <input type="text" class="form-control " placeholder="{count_likes}">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Content</label>
                            <textarea id="lblSummary1" class="form-control" rows="20" readonly>@Model.lstNewFeedsDetails.Summary</textarea>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.lstNewFeedsDetails.ArticleMedia)
                        {

                            @if (item.MediaType == "Image")
                            {
                                <div class="col-md-3 mb-2 message-img-size">
                                    <img src="@item.Media" />
                                </div>

                            }
                            else if (item.MediaType == "Video" && item.MediaType == "Image")
                            {
                                <div class="col-md-3 mb-2 message-img-size">
                                    <img src="@item.Media" />
                                </div>
                                <div class="col-md-3 mb-2">
                                    <video style="height:200px; max-width:100%" controls>
                                        <source src="@item.Media">
                                    </video>
                                </div>
                            }
                            else
                            {
                                <video style="max-height:30%; max-width:30%; margin-left:2%" controls>
                                    <source src="@item.Media">
                                </video>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

